<?xml version = "1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Selenium_intro">
    <test name="page object model test">
        <classes>
            <class name="by.paulouskin.selenium.intro.PageObjectModelTest"/>
        </classes>
    </test>
</suite>